
<h2>Log in</h2>

<%= form_for(@user, :url => url_for(:controller => 'sessions', :action => 'create')) do |f| %>

  <div class="field">
    <%= f.label :username, "Login with your username" %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password, "Please enter password" %><br />
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<p> If you would like to Log in with Facebook instead. Please click <a href="/">here</a></p>
