<% if @giftmoji.errors.any? %>
<% @giftmoji.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %><% end %>
<%= form_for @emotion do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>