  <div class="info">
    <% if user_admin? %>
      <p><strong>ADMIN</strong></p>
    <% end %>
    <p><strong>Name:</strong> <%= @user.fullname %></p>
    <p><strong>Username:</strong> <%= @user.username %></p>
    <p><strong>Giftcoins Balance:</strong>  <%= @user.giftcoins %></p>
    <p><strong>Giftmojis:</strong> <% @user.giftmojis.each do |giftmoji| %>
                                   <%= link_to giftmoji.name, giftmoji_path(giftmoji) %> - 
                                   <%end%></p>
    <p><%= link_to 'See all Giftmojis', giftmojis_path %></p>
    <p><strong>Emotions:</strong> <% @user.emotions.uniq.each do |emotion| %>
                                   <%= link_to emotion.name, emotion_path(emotion) %> - 
                                   <%end%></p>
    <p><%= link_to 'See all Emotions', emotions_path %></p>
    <% if user_admin? %>
    <p><%= link_to "Create new Giftmoji", new_user_giftmoji_path(@user) %></p>
    <% end %>
  </div>