<% if @giftmoji %>
<% if @giftmoji.errors.any? %>
<% @giftmoji.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %><% end %>
<% end %>

<%= form_for @giftmoji do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name %><br/>
    <%= f.label "Tag" %>
    <%= f.text_field :tag %><br/>
    <%= f.label "Price" %>
    <%= f.number_field :price %><br/>
    <%= f.label "Emotions" %>
    <%= f.collection_check_boxes :emotion_ids, Emotion.all, :id, :name %>
    (or create your own Emotion)
    <%= f.fields_for :emotions, @giftmoji.emotions.build do |emotions_fields| %>
      <%= emotions_fields.text_field :name %><br/>
    <% end %>
    <%= f.hidden_field :user_id %>
    <br/>
    <%= f.submit %>
  <% end %>

 <div id="newGiftmoji">
  <h2 id="giftmojiName"></h2>
  <p id="giftmojiTag"></p>
  <p id="giftmojiPrice"></p>
  <p id="giftmojiEmotions"></p>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var posting = $.post('/giftmojis', values);
 
      posting.done(function(giftmoji) {
        let giftmojiId = giftmoji["id"]
        let name = giftmoji["name"]
        let tag = giftmoji["tag"]
        let price = giftmoji["price"]
        debugger;
        $("#giftmojiName").append("<p><strong> Name: <a href='/giftmojis/"+giftmojiId+"'>"+name+"</a></strong></p>");
        $("#giftmojiTag").append(tag);
      });
    });
  });
</script>