
<% if no_owner? %>
<h4> Please find all the Giftmojis you can still buy: </h4>
<% @giftmojis.each do |giftmoji| %>
<p><% if giftmoji.user_id.nil?  %>
<%= link_to giftmoji.name, giftmoji_path(giftmoji)%> - price: <%= giftmoji.price %> giftcoins.</p>
<% end %>
<% end %>
<% else %>
<h4> There are no Giftmojis to buy.</h4>
<% end %>

<h4> Please find all the Giftmojis that were purchased/gifted and their current owners:</h4>
<% @giftmojis.each do |giftmoji| %>
<p>
<% if !giftmoji.user_id.nil? %>
<%= link_to giftmoji.name, giftmoji_path(giftmoji), class: "giftmoji_link", :data =>{id:giftmoji.id} %>- owned by: <%= link_to giftmoji.user.fullname, user_giftmojis_path(giftmoji.user) %><div class="load_giftmoji" id="<%=giftmoji.id%>"></div></p>
<% end %>
<% end %>

<p> To buy or see the full profile of the Giftmoji's, please click on them. </p>

<p>If you want to have a look at fun facts click on those links</p>
<a href="/giftmojis/happy_ones">Happy Giftmojis</a> - 
<a href="/giftmojis/sad_ones">Sad Giftmojis</a> - 
<a href="/giftmojis/name_of_most_expensive">Most Expensive Giftmoji</a> - 
<a href="/giftmojis/name_of_cheapest">Cheapest Giftmoji</a> - 
<a href="/giftmojis/name_of_birthday_giftmojis">Giftmojis that were gifted on a Birthday</a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
 <script type="text/javascript" charset="utf-8">
  	$(document).ready(function () {
  	$(".giftmoji_link").on("click", function(e) {
    e.preventDefault();
    var giftmojiId = parseInt($(this).attr("data-id"))
  	$(".load_giftmoji").empty()
  	$.get("/giftmojis/"+giftmojiId+".json", function(giftmo){
  		let name = giftmo["name"]
  		let tag = giftmo["tag"]
  		let price = giftmo["price"]
  	$(`.load_giftmoji#${giftmojiId}`).append("<p><strong> Name: <a href='"+giftmojiId+"'>"+name+"</a></strong></p>")
  	$(`.load_giftmoji#${giftmojiId}`).append("<p><strong> Price: </strong>"+price+"</p>")
  	$(`.load_giftmoji#${giftmojiId}`).append("<p><strong> Tag: </strong>"+tag+"</p>")
  		debugger;
  	})
  	})
  	})
  </script>