<% if @giftmoji %>
<h2><%= @giftmoji.name %></h2>

<h4> Tagline: <%= @giftmoji.tag %> </h4>
<h4> Price: <%= @giftmoji.price %></h4>
<% if @giftmoji.user_id %>
<h4> Owned by: <%= @giftmoji.user.fullname %></h4>
<% end %>

<h4>Emotions:</h4>
<% @giftmoji.emotions.each do |emo| %>
<%= emo.name %>
<% end %>

<% if @giftmoji.user_id.nil? %>
<h3> Buy this Gimoji: </h3>
<!-- Alternative way of doing:
<form action="/giftmojis/<%= @giftmoji.id%>/buy" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="submit" value="Buy Giftmoji" name="Buy Giftmoji" id="Buy Giftmoji">
</form> -->
<%= form_for @giftmoji, url:user_path(@user) do |f|%>
<%= f.hidden_field :id, :value => @giftmoji.id %> <!-- Need to test this -->
<%= f.submit "Buy Giftmoji"%>
<% end %>
<% end %>

<% if giftmoji_gifted? && giftmoji_owner? %>
<h4> This Giftmoji was gifted by <%= @giftmoji.gifted_by %></h4>
<h4>Occasion: <%= @giftmoji.occasion.name %></h4>
<h4>Message: <%= @giftmoji.message %></h4>
<% end %>

<% if !giftmoji_gifted? && giftmoji_owner? %>
<h3>Gift this Giftmoji:</h3>
<%= form_for @giftmoji do |f| %>
<%= f.label "Gift Recipient:" %>
<%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'Any'%><br/>
<%= f.label "Occasion" %>
<%= f.collection_select :occasion_id, Occasion.all, :id, :name, include_blank: 'Any'%></br>
<%= f.label "Message:" %> (Please sign the message.)
<%= f.text_area :message %><br/><br/>
<%= f.submit "Gift Giftmoji" %>
<% end %>
<% end %>

<% elsif params[:id] == "happy_ones" %>
<h6> Here are the happy giftmojis: </h6>
<% Giftmoji.happy_ones.each do |gift| %>
<%= gift %>
<% end %>

<% elsif params[:id] == "sad_ones" %>
<h6> Here are the sad giftmojis: </h6>
<% Giftmoji.sad_ones.each do |gift| %>
<%= gift %>
<% end %>


<% elsif params[:id] == "name_of_most_expensive" %>
<h6> The most expensive Giftmoji is: </h6>
<%= Giftmoji.name_of_most_expensive %>

<% elsif params[:id] == "name_of_cheapest" %>
<h6> The cheapest Giftmoji is: </h6>
<%= Giftmoji.name_of_cheapest %>

<% elsif params[:id] == "name_of_birthday_giftmojis" %>
These are the Giftmojis that were gifted on Birthdays:
<% Giftmoji.name_of_birthday_giftmojis.each do |gift| %>
<%= gift %>
<% end %>

<% end %>