<h2><%= @giftmoji.title %></h2>

<h3> Tagline: <%= @giftmoji.tag %> </h3>
<h4> Price: <%= @giftmoji.price %></h4>

<h3>Emotions:</h3>
<p> <% @giftmoji.emotions.each do |emo| %>
<%= emo.name %>
<% end %>

<% if giftmoji_has_no_owner? %>
<h3> Buy this Gimoji: </h3>
<!-- Alternative way of doing:
<form action="/giftmojis/<%= @giftmoji.id%>/buy" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="submit" value="Buy Giftmoji" name="Buy Giftmoji" id="Buy Giftmoji">
</form> -->
<%= form_for @giftmoji, url:user_path(@user) do |f|%>
<%= f.hidden_field :buy, :value => @giftmoji %> <!-- Need to test this -->
<%= f.submit "Buy Giftmoji"%>


<% if giftmoji_gifted? && giftmoji_owner? %>
<h3>Occasion: <%= @giftmoji.occasion %></h3>
<h3>Message: <%= @giftmoji.message %></h3>
<% end %>

<% if !giftmoji_gifted? && giftmoji_owner? %>
<h3>Gift this Giftmoji:</h3>
<%= form_for @giftmoji.build do |f| %>
<%= f.label "Gift Recipient:"
<%= f.collection_select :user_id, User.all, :id, :name, include_blank: 'Any'%>
<%= f.label "Occasion" %>
<%= f.collection_select :occasion_id, Occasion.all, :id, :name, include_blank: 'Any'%>
<%= f.fields_for :occasion, @giftmoji.occasions.last.build_occasion do |occasion_fields| %>
<%= occasion_fields.text_field :name %>
<% end %>
<%= f.label "Message: (Please sign in your name.)" %>
<%= f.text_area :message %>
<%= f.submit %>
<% end %>
<% end %>
